.list {
  /* column-width: 100%;
  column-gap: 15px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list-item {
  cursor: pointer;
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 15px;
  padding-bottom: 10px;
  transition: opacity 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  column-break-inside: avoid;
  width: 26rem;
}

.list-item__title {
  font-size: 1.7rem;
  word-wrap: break-word;
}

.list-item__image {
  max-width: 20rem;
  border: solid 1px #ccc;
  border-radius: 0.3rem;
  align-self: center;
}

.list-item__buttons {
  margin: 0.5rem 0;
  align-self: flex-end;
  order: 3;
  display: flex;
  flex-grow: 1;
}

.list-item__buttons button {
  cursor: pointer;
  margin-top: 1rem;
  margin-right: 1rem;
  align-self: flex-end;
}

@media only screen and (max-width: 600px) {
  .list {
    column-width: unset;
  }

  .list-item {
    width: 80%;
    display: flex;
    margin: 1em auto;
  }

  .list-item__title {
    font-size: 1.3rem;
    word-wrap: none;
    order: 2;
    margin-top: 1rem;
  }

  .list-item__image {
    grid-column-start: 1;
    margin: 0 1rem .5rem 1rem;
    order: 1;
    max-height: 10rem;
  }

  .list-item__buttons {
    align-self: flex-end;
    margin-top: 1.5rem;
  }
}
