.list-container {
  display: flex;
  flex-direction: column;
}

.link-button {
  display: inline-block;
  background-color: #85977f;
  border: solid 0.2rem #fff;
  padding: 0.5em 1rem;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 1rem auto 1rem 0;
  justify-self: flex-end;
}

@media only screen and (max-width: 600px) {
  .link-button {
    display: block;
    text-align: center;
    font-size: 2rem;
    margin: 1rem;
  }
}
