.link-button {
  display: inline-block;
  background-color: #666;
  padding: .5em 2em;
  color: #fff;
  font-size: 1.3em;
  text-decoration: none;
  margin: 1em 0;
}

@media only screen and (max-width: 600px) { 
  .link-button {
    display: block;
    text-align: center;
    font-size: 2em;
  }
}