.login-options {
  width: 280px;
  background: #fefefe;
  border: 2px solid #fcfcfc;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  padding: 8px 15px;
  position: absolute;
  top: calc(50% + 37px);
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-header__title {
  margin: 0 0 0.5em 0;
}

.login-options__button {
  width: calc(100% - 2rem);
  margin: 0.5rem 1rem;
  padding: 1rem;
  text-align: center;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.login-options__button:hover {
  border: 1px solid #0044ff;
}

.login-options__button:first-of-type {
  margin-top: 1rem;
}

.login-options__button img {
  height: 3em;
  vertical-align: middle;
}

.login-form__label {
  display: block;
  font-weight: 600;
  margin: 0.4rem 0 0.2rem 0;
}

.login-form__input {
  width: 100%;
  box-sizing: border-box;
  border: solid 1px #ccc;
  padding: 0.2rem 0.4rem;
}

.login-form__input[type='file'] {
  display: none;
}

.login-form__file-rep {
  background-color: cadetblue;
  padding: 0.1rem 2rem;
  margin: 0 0 0.5rem 0;
  border-color: rgb(145, 195, 197);
  color: #fff;
  font-size: 1.4rem;
  outline: none;
  width: 100%;
}

.login-form__error {
  font-size: 0.8rem;
  height: 1rem;
}

.login-form__submit-container {
  text-align: left;
}

.login-form__submit-container button {
  background-color: #009900;
  color: #fff;
  border-color: #13a013;
  padding: .2rem 1rem;
  font-size: 1rem;
  margin-top: .3rem;
  outline: none;
}
