.user-display {
  margin: 1.5rem;
  font-size: 1.5rem;
  align-self: center;
}

.user-display__avatar {
  height: 2rem;
  align-self: center;
}

.user-display__signOut {
  text-decoration: underline;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.user-display__signOut:hover {
  color: antiquewhite;
}